 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
 {% load staticfiles %}

 {% block one %}
 {% endblock %}

{% block body %}

{% if admission_decision_accuracy != None %}
<div class="container">
    <h3 align="left">Your Admission Prediction in <b>{{ university_name }}</b></h3>
     <!--{{ div|safe }}-->

    <!--{{ script|safe }}-->
   <!--<br/>-->
    <!--<h3>Result From SVM</h3>-->

     {{ svm_decision_div|safe }}
     {{ svm_decision_script|safe }}

    <!--<br/><h3>Result From Random Forest</h3>-->

        <!--{{ div|safe }}-->
        <!--{{ script|safe }}-->
   <!--<br/>-->

         <!--{{ rf_decision_div|safe }}-->
         <!--{{ rf_decision_script|safe }}-->

</div>
{% endif %}

 {% if no_major_available != None %}
  <div class="container">
        <h3 align="left">Your Admission Prediction in <b>{{ university_name }}</b></h3>
                    <b>
                        <h2> {{ no_major_available }} is not available in {{ university_name }}</h2>
                    </b>
 </div>
 {% endif %}

  {% if insufficient_data != None %}
 <div class="container">
        <h3 align="left">Your Admission Decision in {{ university_name }}</h3>
                    <b>
                        <h2> {{ insufficient_data }}</h2>
                    </b>
 </div>
 {% endif %}

<br/>
<br/>
<br/>
 <br/>
<br/>
<br/>
 <br/>
<br/>
<br/>
{% endblock %}
