 {% extends 'base.html' %}
 {% load crispy_forms_tags %}

 {% block one %}
 {% endblock %}

{% block body %}

 <div class="container">
<h4> Edit Profile </h4>

                <form method = "POST">
                    {% csrf_token %}

         {% for field in editable_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
                    <button type="Submit">SAVE</button>

                </form>

</div>



{% endblock %}

{% block two %}

            {% endblock %}