 {% extends 'base.html' %}
 {% load crispy_forms_tags %}

 {% block one %}
 {% endblock %}

{% block body %}

 <div class="container">
     <div class="panel-footer" style="margin: 10px 0px 10px 0px; height: 40px;
                                padding: 0px 0px 10px 15px;">
         <h4><b>Edit User Profile</b></h4>
     </div>
     <div class="form-group">
     <form method="POST" action="{% url 'accounts:edit_profile' %}">
         {% csrf_token %}

       {% for field in student_details_form %}
      <p>
                {{ field.label_tag }}<br>
                {{ field }}

                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
         {% endfor %}
                <input type="submit" class="btn btn-success"
                            name="submit"  value="Update Profile" >
                </form>
    </div>
</div>



{% endblock %}

{% block two %}

            {% endblock %}