 {% extends 'base.html' %}
 {% load crispy_forms_tags %}
{% load staticfiles %}

 {% block one %}
 <br/> <br/> <br/>
 {% endblock %}

{% block body %}
<body style="background:transparent url('{% static 'media/loginback.jpg' %}') no-repeat; display: block; max-width: 100%; height: auto;">

 <div class=login-form >
    <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div class="panel panel-default" style="background-color: rgba(245,245,245, 0.4);">

          <div class="panel-body">


            <form role="form" action="{% url 'accounts:login_user' %}"
                  method="POST" name="login" >
              {% csrf_token %}
                <fieldset>
                <div class="row">

                  <div class="center-block"> <img class="profile-img" src="" class="img-responsive" alt=""> </div>
                  <h5 align="center"><b><font color="green" size="4"> Login to Your UniGrade Account: </font></b></h5>

                  <hr>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                      {% csrf_token %}
                    <div class="form-group">
                    <label>Username :</label>
                      <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                        <input class="form-control" placeholder="Username"
                                  name="username" type="text" required="required" id="id_username" autofocus>
                      </div>
                    </div>
                    <div class="form-group">


                     <label>Password:</label>
                      <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                        <input class="form-control" placeholder="Password"
                                    name="password" type="password" id="id_password" required="required" value="">
                      </div>
                    </div>

                    <font color="red">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    </font>

                    <div class="form-group">
                     <label>
                      <input type="checkbox">
                      Keep me Logged in </label> <input type="submit" class="btn btn-success"
                                  name="submit" id="submit"  value="LOG IN" >

                    </div>


                  </div>
                </div>

              </fieldset>
            </form>
                        <h5 align="center"><b>No UniGrade Account?   </b></h5>
                    <form method="post" name="signup" action="{% url 'accounts:register' %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success  btn-block"
                            name="submit"  value="SIGN UP" >
                    </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}


{% block two %}
 <br/> <br/> <br/> <br/>
  <br/> <br/> <br/> <br/>
  <br/> <br/>
  <br/> <br/> <br/> <br/>
  <br/>

 {% endblock %}